<app-side-nav></app-side-nav>
<div class="container mt-3">
    <div class="row d-flex justify-content-end mr-0">
        <button type="button" class="btn btn-outline-primary circle-radius" (click)='crearNuevoAcoplamiento()'>
            <span> <i class="material-icons p-1 icon">add</i>Nuevo acoplamiento</span>
        </button>
    </div>
    <ng-container *ngIf="nuevoAcoplamiento">
        <label for="type">Selecciona el tipo de algoritmo</label>
        <select id="type" class="form-control"  [formControl]="type">
            <option value='null' selected>Selecciona...</option>
            <option value='0'>Algoritmo genetico</option>
            <option value='1'>Algoritmo minimax</option>
        </select>
        <app-form-ag (onCancel)="cancelarAcoplamiento($event)" *ngIf="type.value==0"></app-form-ag>
        <app-form-minimax (onCancel)="cancelarAcoplamiento($event)" *ngIf="type.value==1"></app-form-minimax>
    </ng-container>
    <hr>
    <div class="row d-flex justify-content-between mr-0">
        <h5 class="pl-3">Acoplamientos realizados con algoritmo genético</h5>
        <span tooltip="Actualizar" placement="bottom" show-delay="300"><button (click)="onRefresh()" type="button" class="btn download-btn bg-light mr-2"><i class="material-icons p-1 icon text-secondary">refresh</i></button></span>
    </div>
    <app-table-ag [AGEjecutions]="AGEjecutions"></app-table-ag>
    <hr>
    <app-table-minimax [minimaxEjecutions]="minimaxEjecutions"></app-table-minimax>
</div>