<form #formDirective="ngForm" [formGroup]="agForm" (ngSubmit)="onSubmit()" class="p-3 mt-3 form-box">
    <div class="form-row">
        <label class="form-group col-md-6">Asigna un nombre a tu acoplamiento
            <input (change)="onCheckName($event)" type="text" class="form-control"  formControlName="testName" placeholder="IgE_Alergeno_01">
            <small *ngIf="(testName.dirty || testName.touched) && testName.invalid && testName.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
            <small *ngIf="nameNoexists==0" class="text-danger row d-flex justify-content-end mr-2"><b>El nombre ya existe</b></small>
        </label>
        <label class="form-group col-md-6">Procesadores a ocupar
            <select formControlName="cores" class="form-control">
                <option value='null' selected>Selecciona...</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
            </select>
            <small *ngIf="(cores.dirty || cores.touched) && cores.invalid && cores.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
    </div>
    <div class="form-row">
        <label class="form-group col-md-6">Selecciona la cadena de paratopo
            <select formControlName="chainPar" class="form-control">
                <option value='null' selected>Selecciona...</option>
                <option value='1'>H</option>
                <option value='2'>L</option>
            </select>
            <small *ngIf="(chainPar.dirty || chainPar.touched) && chainPar.invalid && chainPar.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
        <label class="form-group col-md-6">Selecciona la cadena de epitope
            <select formControlName="chainEp" class="form-control">
                <option value='null' selected>Selecciona...</option>
                <option value='0'>A</option>
            </select>
            <small *ngIf="(chainEp.dirty || chainEp.touched) && chainEp.invalid && chainEp.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
    </div>
    <div class="form-row">
        <label class="form-group col-md-6" >Tam. de la poblacion
            <input type="number" class="form-control" formControlName="sizeP" placeholder="Numero">
            <small *ngIf="(sizeP.dirty || sizeP.touched) && sizeP.invalid && sizeP.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
        <label class="form-group col-md-6">Número de épocas
            <input type="number" class="form-control" formControlName="epocas" placeholder="Numero">
            <small *ngIf="(epocas.dirty || epocas.touched) && epocas.invalid && epocas.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
    </div>
    <div class="row d-flex justify-content-end mr-0">
        <button (click)="onPropagar()" class="btn btn-outline-danger circle-radius mr-1">
            <i class="material-icons p-1 icon">close</i>
            Cancelar
        </button>
        <button [disabled]="nameNoexists==0||!agForm.valid" type="submit" class="btn btn-outline-info circle-radius ml-1">
            <i class="material-icons p-1 icon">arrow_forward_ios</i>
            Ejecutar
        </button>
    </div>

</form>