<nav class="navbar navbar-light bg-info">
    <img src="assets/img/samia-pink.png" height=80>
    <a class="navbar-brand text-white" href="#"><h4>Sistema de Acoplamiento Molecular entre IgE-Alergeno</h4></a>
</nav>
