<form #formDirective="ngForm" [formGroup]="minimaxForm" (ngSubmit)="onSubmit()" class="p-3 mt-3 form-box">
    <div class="form-row">
        <label class="form-group col-md-6">Asigna un nombre a tu acoplamiento
            <input (change)="onCheckName($event)" type="text" class="form-control" formControlName="testName" placeholder="IgE_Alergeno_01">
            <small *ngIf="(testName.dirty || testName.touched) && testName.invalid && testName.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
            <small *ngIf="nameNoexists==0" class="text-danger row d-flex justify-content-end mr-2"><b>El nombre ya existe</b></small>
        </label>
        <label class="form-group col-md-6">Profundidad
            <input type="number" class="form-control" formControlName="deep" placeholder="Numero">
            <small *ngIf="(deep.dirty || deep.touched) && deep.invalid && deep.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
    </div>
    <div class="form-row">
        <label class="form-group col-md-6">Selecciona la cadena de paratopo
            <select formControlName="chainPar" class="form-control">
                <option value='null' selected>Selecciona...</option>
                <option value='1'>H</option>
                <option value='2'>L</option>
            </select>
            <small *ngIf="(chainPar.dirty || chainPar.touched) && chainPar.invalid && chainPar.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
        <label class="form-group col-md-6">Selecciona la cadena de epitope
            <select formControlName="chainEp" class="form-control">
                <option value='null' selected>Selecciona...</option>
                <option value='0'>A</option>
            </select>
            <small *ngIf="(chainEp.dirty || chainEp.touched) && chainEp.invalid && chainEp.errors.required" class="text-danger row d-flex justify-content-end mr-2"><b>Campo requerido</b></small>
        </label>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="col-md-6">Establecer punto de inicio</label>
            <div class="col-md-6">
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="false" (change)="coordBeginChanges()" formControlName="coordBegin">
                    <span class="form-check-label">No</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="true" (change)="coordBeginChanges()" formControlName="coordBegin">
                    <span class="form-check-label">Si</span>
                </label>
            </div>
        </div>
        <div *ngIf="flagCoordBegin" class="form-group col-md-6">Coordenadas de punto de inicio
            <div class="row m-0">
                <input type="number" class="form-control col-md-4" formControlName="xb" placeholder="x">
                <input type="number" class="form-control col-md-4" formControlName="yb" placeholder="y">
                <input type="number" class="form-control col-md-4" formControlName="zb" placeholder="z">
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-end mr-0">
        <button (click)="onPropagar()" class="btn btn-outline-danger circle-radius mr-1">
            <i class="material-icons p-1 icon">close</i>
            Cancelar
        </button>
        <button [disabled]="nameNoexists==0||!minimaxForm.valid" type="submit" class="btn btn-outline-info circle-radius ml-1">
            <i class="material-icons p-1 icon">arrow_forward_ios</i>
            Ejecutar
        </button>
    </div>
</form>