<div class="table-responsive">
  <table class="table table-hover table-borderless mt-3">
    <thead class="bg-primary text-white">
      <tr>
        <th>Nombre</th>
        <th width="70">Alérgeno</th>
        <th>Epoca</th>
        <th width="80">Mejor_actual</th>
        <th>Score_distancia</th>
        <th>Score_energía</th>
        <th>Score_total</th>
        <th style="display: flex;justify-content: center;align-items: center;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let process of AGEjecutions">
        <th><span tooltip="{{process.estatus}}" placement="bottom" show-delay="300" [ngStyle]="{color: headersStatus[process.estatus].color}" class="material-icons" style="font-size: 20px;vertical-align: middle;">fiber_manual_record</span>{{process.nombre}}</th>
        <td>{{process.alergeno}}</td>
        <td>{{process.epoca}}/{{process.epocas}}</td>
        <td width="80">{{process.mejor | replace : ',' : ', '}}</td>
        <td>{{process.score_distancia | number : '1.2-2'}}</td>
        <td>{{process.score_energia | number : '1.2-2'}}</td>
        <td>{{process.score_total | number : '1.2-2'}}</td>
        <td style="display: flex;justify-content: center;align-items: center;">
          <span tooltip="Descargar PDB mejor acoplamiento" placement="bottom" show-delay="300"><a [href]="'http://69.197.169.74:5000/downloadPdb/' + process.id" [ngClass]="{'isDisabled': process.estatus=='Cancelado' || process.estatus=='Procesando'}" class="btn download-btn mr-2 bg-info"><i class="material-icons p-1 icon text-white">get_app</i></a></span>
          <span tooltip="Descargar log" placement="bottom" show-delay="300"><a [href]="'http://69.197.169.74:5000/downloadLog/' + process.id" class="btn download-btn mr-2 bg-warning"><i class="material-icons p-1 icon text-white">description</i></a></span>
          <span tooltip="Cancelar" placement="bottom" show-delay="300"><button [disabled]="process.estatus=='Cancelado'||process.estatus=='Terminado'" (click)="onCancel(process.id)" type="button" class="btn download-btn bg-danger mr-2"><i class="material-icons p-1 icon text-white">close</i></button></span>
          <span tooltip="Borrar" placement="bottom" show-delay="300"><button [disabled]="process.estatus=='Procesando'" (click)="onDelete(process.id)" type="button" class="btn download-btn bg-secondary"><i class="material-icons p-1 icon text-white">delete_outline</i></button></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

