/* You can add global styles to this file, and also import other style files */
.download-btn{
    background-color: white;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    padding:3px 0px 0px 0px;

}

.form-box{
    background-color: #f5f5f5;
    border-radius:10px;
}
.icon{
    vertical-align: middle;
}
.circle-radius{
    border-radius:50px!important;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

button:disabled{
    color: #c8c8c8!important;
    background-color:rgb(212, 211, 211)!important;
    cursor:default!important;
}
button:disabled:hover{
    color: #c8c8c8!important;
    background-color:rgb(189, 187, 187)!important;
    cursor:default!important;
}
.isDisabled {
    color: #c8c8c8!important;
    background-color:rgb(228, 226, 226)!important;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
  }
